.on-board-container {
    position: relative;
    width: 100vw;
    height: 91.3889vh;
    overflow: hidden;
    background-image: url('../../../../assets/onboard/onboard-bg.png');
    display: flex;
    justify-content: center;

    .onboard-content-bg {
        margin-top: 8.6111vh;
        width: 94.76vw;
        height: 47.1431vw;
        background-image: url('../../../../assets/onboard/onboard-container.png');
        background-size: contain;
        background-repeat: no-repeat;

        .content {
            position: relative;
            width: 100%;
            height: 100%;

            .subject {
                position: absolute;
                top: 6.9444vh;
                left: 3.9vw;
                display: flex;
                align-items: flex-end;
                gap: 1.25vw;

                .title {
                    font-family: 'EB Garamond', serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 6.25vw;
                    line-height: 7vw;
                    color: #38241B;
                }

                .term {
                    transform: translate(0, -35%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 8.515vw;
                    height: 3.593vw;
                    background: #951205;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 14px;

                    font-family: 'EB Garamond', serif;
                    font-weight: 700;
                    font-size: 2.96vw;
                    line-height: 3.59375vw;
                    color: #FFFFFF;
                }


            }

            .content-container {
                position: absolute;
                top: 15vw;
                left: 4.14vw;
                display: flex;
                flex-direction: column;
                gap: 2.08333vh;

                .content {
                    max-width: 25vw;
                    font-family: 'Noto Serif TC';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 3.28125vw;
                    line-height: 5vw;
                    color: #38241B;
                }

                .sub-content {
                    font-family: 'Noto Sans TC';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 1.875vw;
                    line-height: 2.73vw;
                    width: 22vw;

                    color: #38241B;
                }
            }

            .anonymous {
                position: absolute;
                bottom: -100%;
                left: 55%;
                transform: translate(-50%, 0);
                width: 49.375vw;
                height: 41.276vw;
                background-image: url('../../../../assets/onboard/anonymous.png');
                background-size: contain;
                background-repeat: no-repeat;
                animation-duration: 0.75s;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
                animation-fill-mode: forwards;

                .bounty-relative {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding: 0 2.5vw;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    justify-content: space-around;

                    .bounty-block {
                        .prize {
                            font-family: 'AR JULIAN';
                            font-size: 2.1875vw;
                            line-height: 2.421875vw;
                            color: #FFFFFF;
                        }

                        .reward {
                            font-family: 'EB Garamond', serif;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 3.75vw;
                            line-height: 4.21875vw;
                            color: #951205;
                        }
                    }


                }


            }

            .bounty-tag {
                position: absolute;
                right: -1.5vw;
                top: -3vh;
                object-fit: contain;
                width: 27.42vw;
            }

            .attend-info-container {
                position: absolute;
                top: 18vw;
                right: 3vw;
                display: flex;
                flex-direction: column;
                gap: 3.2vh;

                .attend-info {
                    font-family: 'AR JULIAN';
                    font-style: normal;
                    font-size: 2.7875vw;
                    line-height: 3.421875vw;
                    color: #38241B;

                    .attend-count {
                        display: inline-block;
                        text-align: end;
                        width: 8.5156vw;
                        font-family: 'EB Garamond', serif;
                        font-size: 4.28125vw;
                        font-weight: bold;
                    }
                }
            }

            .scroll-down {
                position: absolute;
                object-fit: contain;
                width: 5vw;
                height: 7.89vw;
                right: 4.9vw;
                bottom: 1.75vw;
            }
        }
    }
}


.anonymous-1 {
    animation-name: anonymous-animate-1;
}

.anonymous-2 {
    animation-name: anonymous-animate-2;
}


@keyframes anonymous-animate-1 {
    0% {
        bottom: -100%;
    }

    100% {
        bottom: -35%
    }
}

@keyframes anonymous-animate-2 {
    0% {
        bottom: -35%;
    }

    100% {
        bottom: 0%
    }
}