<div class="on-board-container" id="scrollItem0">
    <div class="onboard-content-bg">
        <div class="content">

            <!-- 標題 -->
            <div class="subject">
                <h1 class="title">{{boardInfo.title}}</h1>
                <div class="term">{{boardInfo.term}}</div>
            </div>

            <!-- 內文 -->
            <div class="content-container">
                <p class="content">{{boardInfo.content}}</p>
                <p class="sub-content">{{boardInfo.subContent}}</p>
            </div>

            <!-- 匿名者 -->
            <div class="anonymous" #anonymous>
                <div class="bounty-relative">
                    <div class="bounty-block" *ngFor="let info of boardInfo.bounty">
                        <span class="prize">{{info.prize}}</span>
                        <span class="reward">{{info.reward}}</span>
                    </div>
                </div>
            </div>

            <!-- 懸賞任務 -->
            <img *ngIf="showCompleteBoardPage" src="assets/onboard/bounty-tag.png" class="bounty-tag" />

            <!-- 報名人數 -->
            <div class="attend-info-container">
                <span *ngFor="let info of boardInfo.attendInfo" class="attend-info">
                    {{info.title}} <span class="attend-count">{{info.count}}</span> 人
                </span>
            </div>

            <!-- 向下滑動 -->
            <app-scroll-down *ngIf="showCompleteBoardPage" class="scroll-down"></app-scroll-down>

            <div class="content-container-mobile">
                <p class="content">{{boardInfo.content}}</p>
                <p class="sub-content">{{boardInfo.subContent}}</p>
            </div>
        </div>
    </div>
</div>

<div id="scrollItem5"></div>
<app-paper-mask *ngIf="showPaperMask"></app-paper-mask>