.on-board-container {
    position: relative;
    width: 100vw;
    height: 91.3889vh;
    overflow: hidden;
    background-image: url('../../../../assets/onboard/onboard-bg.png');
    display: flex;
    justify-content: center;

    .onboard-content-bg {
        margin-top: 3vw;
        width: 94.76vw;
        height: 47.1431vw;
        background-image: url('../../../../assets/onboard/onboard-container.png');
        background-size: contain;
        background-repeat: no-repeat;

        .content {
            position: relative;
            width: 100%;
            height: 100%;

            .subject {
                position: absolute;
                top: 6.9444vh;
                left: 3.9vw;
                display: flex;
                align-items: flex-end;
                gap: 1.25vw;

                .title {
                    font-family: 'EB Garamond', serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 6.25vw;
                    line-height: 7vw;
                    color: #38241B;
                }

                .term {
                    transform: translate(0, -35%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 8.515vw;
                    height: 3.593vw;
                    background: #951205;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 14px;

                    font-family: 'EB Garamond', serif;
                    font-weight: 700;
                    font-size: 2.96vw;
                    line-height: 3.59375vw;
                    color: #FFFFFF;
                }


            }

            .content-container {
                position: absolute;
                top: 15vw;
                left: 4.14vw;
                display: flex;
                flex-direction: column;
                gap: 2.08333vh;

                .content {
                    max-width: 25vw;
                    font-family: 'Noto Serif TC';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 3.28125vw;
                    line-height: 5vw;
                    color: #38241B;
                }

                .sub-content {
                    font-family: 'Noto Sans TC';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 1.875vw;
                    line-height: 2.73vw;
                    width: 22vw;

                    color: #38241B;
                }
            }

            .anonymous {
                position: absolute;
                bottom: -100%;
                left: 55%;
                transform: translate(-50%, 0);
                width: 49.375vw;
                height: 41.276vw;
                background-image: url('../../../../assets/onboard/anonymous.png');
                background-size: contain;
                background-repeat: no-repeat;
                animation-duration: 0.75s;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
                animation-fill-mode: forwards;

                .bounty-relative {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding: 0 2.5vw;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    justify-content: space-around;

                    .bounty-block {
                        .prize {
                            font-family: 'AR JULIAN';
                            font-size: 2.1875vw;
                            line-height: 2.421875vw;
                            color: #FFFFFF;
                        }

                        .reward {
                            font-family: 'EB Garamond', serif;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 3.75vw;
                            line-height: 4.21875vw;
                            color: #951205;
                        }
                    }


                }


            }

            .bounty-tag {
                position: absolute;
                right: -1.5vw;
                top: -3vh;
                object-fit: contain;
                width: 27.42vw;
            }

            .attend-info-container {
                position: absolute;
                top: 18vw;
                right: 3vw;
                display: flex;
                flex-direction: column;
                gap: 3.2vh;

                .attend-info {
                    font-family: 'AR JULIAN';
                    font-style: normal;
                    font-size: 2.7875vw;
                    line-height: 3.421875vw;
                    color: #38241B;

                    .attend-count {
                        display: inline-block;
                        text-align: end;
                        width: 8.5156vw;
                        font-family: 'EB Garamond', serif;
                        font-size: 4.28125vw;
                        font-weight: bold;
                    }
                }
            }

            .scroll-down {
                position: absolute;
                object-fit: contain;
                width: 5vw;
                height: 7.89vw;
                right: 4.9vw;
                bottom: 1.75vw;
            }

            .content-container-mobile {
                display: none;
            }
        }
    }
}



@keyframes anonymous-animate-1 {
    0% {
        bottom: -100%;
    }

    100% {
        bottom: -35%
    }
}

@keyframes anonymous-animate-2 {
    0% {
        bottom: -35%;
    }

    100% {
        bottom: 0%
    }
}


// Tablet
@media screen and (min-width: 768px) and (max-width: 1279px) {
    .on-board-container {
        height: 100vh;

        .onboard-content-bg {
            background-image: url('../../../../assets/onboard/tablet/bg.png');
            background-size: contain;
            background-repeat: no-repeat;
            margin-top: 6vw;
            width: 95.833vw;
            height: 117.26vw;

            .content {
                position: relative;
                width: 100%;
                height: 100%;

                .subject {
                    top: 8.9444vh;
                    left: 3.9vw;

                    .title {
                        font-size: 10.25vw;
                        line-height: 12vw;
                        color: #38241B;
                    }

                    .term {
                        transform: translate(0, -60%);
                        width: 11.515vw;
                        height: 4.993vw;
                        font-size: 3.96vw;
                        line-height: 4.59375vw;
                    }


                }

                .content-container {
                    top: 25vw;

                    .content {
                        max-width: 75vw;
                        font-size: 6.28125vw;
                        line-height: 8vw;
                    }

                    .sub-content {
                        display: none;
                    }
                }

                .anonymous {
                    width: 90.375vw;
                    height: 75.276vw;

                    .bounty-relative {
                        bottom: 4vw;

                        .bounty-block {
                            .prize {
                                font-size: 4.1875vw;
                            }

                            .reward {
                                font-size: 6.75vw;
                            }
                        }
                    }
                }

                .bounty-tag {
                    position: absolute;
                    right: -2.5vw;
                    top: -3vh;
                    object-fit: contain;
                    width: 48.42vw;
                }

                .attend-info-container {
                    display: none;
                }

                .scroll-down {
                    display: none;
                }

                .content-container-mobile {
                    display: none;
                }
            }
        }
    }
}


.anonymous-1 {
    animation-name: anonymous-animate-1;
}

.anonymous-2 {
    animation-name: anonymous-animate-2;
}



// Mobile
@media screen and (max-width: 767px) {
    .on-board-container {
        height: 153vh;

        .onboard-content-bg {
            background-image: url('../../../../assets/onboard/mobile/bg.png');
            background-size: cover;
            background-repeat: no-repeat;
            margin-top: 6vw;
            width: 100vw;
            height: 150vh;

            .content {
                position: relative;
                width: 100%;
                height: 100%;

                .subject {
                    top: 8.9444vh;
                    left: 3.9vw;

                    .title {
                        font-size: 17.25vw;
                        line-height: 12vw;
                        color: #38241B;
                    }

                    .term {
                        transform: translate(0, -10%);
                        width: 20.515vw;
                        height: 8.993vw;
                        font-size: 7.96vw;
                        line-height: 4.59375vw;
                    }


                }

                .content-container {
                    display: none;
                }

                .content-container-mobile {
                    position: absolute;
                    display: block;
                    bottom: 18vw;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .content {
                        display: block;
                        max-width: none;
                        font-size: 11.28125vw;
                        line-height: 12vw;
                        text-align: center;
                        font-family: 'Noto Serif TC';
                        font-style: normal;
                        font-weight: 900;
                        margin-bottom: 5vw;
                        color: #38241B;
                    }

                    .sub-content {
                        display: block;
                        font-weight: normal;
                        font-size: 5.875vw;
                        line-height: 8.73vw;
                        width: none;
                        width: 84%;
                    }
                }

                .anonymous {
                    width: 114.375vw;
                    height: 99.276vw;
                    left: 50%;

                    .bounty-relative {
                        bottom: 9vw;
                        justify-content: center;

                        .bounty-block {
                            .prize {
                                font-size: 5.1875vw;
                            }

                            .reward {
                                font-size: 7.75vw;
                            }
                        }
                    }
                }

                .bounty-tag {
                    right: 6%;
                    top: 25%;
                    width: 62.42vw;
                }

                .attend-info-container {
                    display: none;
                }

                .scroll-down {
                    display: none;
                }
            }
        }
    }


    @keyframes anonymous-animate-1 {
        0% {
            bottom: -100%;
        }

        100% {
            bottom: 10%
        }
    }

    @keyframes anonymous-animate-2 {
        0% {
            bottom: 10%;
        }

        100% {
            bottom: 35%
        }
    }
}