.surprise-container {
    width: 100%;
    height: 100%;

    .unreveal-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        overflow-x: hidden;
        position: relative;


        .surprise-text {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .magic-wand {
            position: absolute;
            left: 65%;
            top: 65%;
            transform: translate(-50%, -50%);
        }

    }

    .header {
        width: 100%;
        height: 13.28125vw;
        background: #3C221B;
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: 'Noto Serif TC';
        font-style: normal;
        font-weight: 900;
        font-size: 4.6875vw;
        font-size: 6.718vw;
        color: #FFFFFF;
    }

    .reveal-container {
        display: flex;
        flex-direction: row;
        padding: 8.75vh 3vw;
        box-sizing: border-box;
        flex-wrap: wrap;
        justify-content: space-around;

        .mogul {
            position: relative;
            width: 40.78125vw;
            height: 57.6953vw;
            background-size: contain;
            background-repeat: no-repeat;
            margin: 2.5vh 0;
            visibility: hidden;

            .title {
                width: 100%;
                padding: 0 5%;
                box-sizing: border-box;
                position: absolute;
                top: 1.5625vw;
                height: 10vw;

                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Noto Serif TC';
                font-style: normal;
                font-weight: 900;
                font-size: 3.828vw;
                line-height: 4.843vw;
                text-align: center;
                color: #000000;
            }

            .name {
                position: absolute;
                bottom: 89.5px;
                left: 50%;
                transform: translate(-50%, 0);
                width: 20.234vw;
                height: 5.15vw;
                background-image: url('../../../../assets/surprise/name-bg.png');
                display: flex;
                align-items: center;
                justify-content: center;

                font-family: 'Noto Sans TC';
                font-style: normal;
                font-weight: 700;
                font-size: 1.5625vw;
                line-height: 2.3125vw;
                text-align: center;
                color: #FFFFFF;
            }

            .date {
                position: absolute;
                bottom: 1.5vw;
                width: 100%;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 900;
                font-size: 2.734vw;
                line-height: 5.234vw;
                text-align: center;
                color: #38241B;
            }
        }
    }
}

.show-card {
    visibility: visible !important;
}


// Tablet
@media screen and (min-width: 768px) and (max-width: 1279px) {
    .surprise-container {

        .unreveal-container {
            justify-content: center;

            .surprise-text {
                width: 90%;
            }

            .magic-wand {}

        }

        .header {}

        .reveal-container {
            padding: 0.75vh 3vw;

            .mogul {
                margin: 0;

                .title {
                    top: 2.0625vw;
                    font-size: 3.828vw;
                    line-height: 4.843vw;
                }

                .name {
                    bottom: 6vw;
                    font-size: 2vw;
                    line-height: 4vw;
                    width: 21vw;
                    padding: 1vw 1vw;
                }

                .date {
                    bottom: 1.5vw;
                    font-size: 2.734vw;
                    line-height: 2.234vw;
                }
            }
        }
    }
}



// Mobile
@media screen and (max-width: 767px) {
    .surprise-container {

        .unreveal-container {
            justify-content: center;

            .surprise-text {
                width: 90%;
            }

            .magic-wand {}

        }

        .header {}

        .reveal-container {
            padding: 0.75vh 3vw;

            .mogul {
                width: 90.78125vw;
                height: 128.6953vw;
                margin: 0;

                .title {
                    top: 8.5625vw;
                    font-size: 7.828vw;
                    line-height: 7.843vw;
                }

                .name {
                    bottom: 15vw;
                    font-size: 4vw;
                    line-height: 6vw;
                    width: 46vw;
                    padding: 1vw;
                    height: auto;
                }

                .date {
                    bottom: 5.5vw;
                    font-size: 4.734vw;
                    line-height: 4.234vw;
                }
            }
        }
    }
}