.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    .block-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 7.8125vw;
        box-sizing: border-box;
        height: 6.5vw;
        background: #FFFFFF;
        width: 100%;

        img {
            width: 20%;
            object-fit: contain;
        }
    }

    .block-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 7vw 5.15625vw 28.5vw 5.15625vw;
        box-sizing: border-box;
        height: 20vw;
        background: #3C221B;
        position: relative;

        .title {
            margin-bottom: 3vw;
            font-family: 'Noto Serif TC';
            font-style: normal;
            font-weight: bold;
            font-size: 4.6875vw;
            font-size: 6.718vw;
            color: #FFFFFF;
        }

        .sponsor {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            img {
                width: 26%;
                object-fit: contain;
            }
        }

        .author {
            position: absolute;
            bottom: 3vw;
            font-family: 'Noto Sans TC';
            font-style: normal;
            font-weight: 400;
            font-size: 1.25vw;
            line-height: 1.8vw;
            color: #FFFFFF;
        }
    }
}

// Tablet
@media screen and (min-width: 768px) and (max-width: 1279px) {
    .footer-container {

        .block-1 {
            height: auto;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            padding: 2vw 0;
            gap: 6vw;

            img {
                width: 30%;
                object-fit: contain;
            }
        }

        .block-2 {
            height: auto;
            padding: 3vw 5.15625vw 8.5vw 5.15625vw;

            .title {
                margin: 6vw;
            }

            .sponsor {
                display: flex;
                flex-direction: column;
                height: auto;
                gap: 5vw;
                margin-bottom: 10vw;

                img {
                    width: 90%;
                    max-height: 6vh;
                }
            }

            .author {
                font-size: 4.25vw;
                line-height: 9.8vw;
            }
        }
    }
}



// Mobile
@media screen and (max-width: 767px) {
    .footer-container {

        .block-1 {
            height: auto;
            display: flex;
            flex-direction: column;
            padding: 2vw 0;
            gap: 6vw;

            img {
                width: 35%;
                object-fit: contain;
            }
        }

        .block-2 {
            height: auto;
            padding: 3vw 5.15625vw 8.5vw 5.15625vw;

            .title {
                margin: 10vw;
            }

            .sponsor {
                display: flex;
                flex-direction: column;
                height: auto;
                gap: 5vw;
                margin-bottom: 10vw;

                img {
                    width: 90%;
                    max-height: 6vh;
                }
            }

            .author {}
        }
    }

}