<div class="level-item" [ngStyle]="{'visibility': show ? 'visible' : 'hidden'}">
    <div class="header">
        <h3 class="title">{{item.header}}</h3>
        <img [src]="item.iconSrc">
    </div>

    <div class="illustration-container">
        <img [src]="item.illustrationSrc">
        <app-scroll-down *ngIf="showScrollHint" class="scroll-down"></app-scroll-down>
    </div>

    <div class="content-container">
        <span class="title">{{item.title}}</span>
        <p class="content">{{item.content}}</p>
    </div>

    <div class="btn-container">
        <button class="btn raider" (click)="openLinkTo('https://2022.thef2e.com/news')">關卡攻略</button>
        <button class="btn post" (click)="openLinkTo('https://2022.thef2e.com/works/create')">投稿</button>
    </div>
</div>