.prize-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

    .header {
        width: 100%;
        height: 13.28125vw;
        background: #3C221B;
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: 'Noto Serif TC';
        font-style: normal;
        font-weight: 900;
        font-size: 4.6875vw;
        font-size: 6.718vw;
        color: #FFFFFF;
    }

    .prize-detail-container {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 5vw 0;

        .prize-item {
            display: flex;
            flex-direction: column;
        }
    }

    .finish-race-hint {
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: bold;
        font-size: 2.8125vw;
        line-height: 4.0625vw;
        text-align: center;
        color: #3C221B;
    }
}