.level-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12vh 3.125vw 18.47vh 3.125vw;
    box-sizing: border-box;
    overflow-x: hidden;


    .hex-school {
        width: 100%;
        height: 12vw;
        object-fit: contain;
    }

    .sub-title {
        margin-top: 4vw;
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: bold;
        font-size: 3.359vw;
        line-height: 4.843vw;
        text-align: center;
        letter-spacing: 0.6em;
        color: #38241B;
    }

    .divider {
        margin: 5.8333vh 0 13.888vh 0;
        width: 100%;
        border: 4px solid #38241B;
        height: 9px;
        border-left: none;
        border-right: none;
    }
}