.main-container {
    height: 100vh;
    padding-top: 5.1666vw;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url('../../assets/common/bg.jpg');
    position: relative;
}