<nav class="nav-bar-container">
    <a href="https://www.hexschool.com/" target="_blank" rel="noopener noreferrer">
        <img class="logo" src="assets/hex-logo.png">
        <img class="menu" [src]="menuImgSrc" (click)="menuOnClick($event)">
    </a>

    <div class="nav-item-container">
        <a *ngFor="let item of navItem" class="nav-item" [href]="item.href" target="_blank"
            rel="noopener noreferrer">{{item.title}} </a>

        <a href="https://2022.thef2e.com/signup" target="_blank" rel="noopener noreferrer">
            <button class="sign-up">立即報名</button>
        </a>
    </div>
</nav>

<div class="show-menu animate__animated" [ngStyle]="{'visibility': showMenu ? 'visible' : 'hidden'}" #menu>
    <a href="https://2022.thef2e.com/news" target="_blank" rel="noopener noreferrer"><span>關卡任務</span> </a>
    <a href="https://2022.thef2e.com/" target="_blank" rel="noopener noreferrer"><span>競賽說明</span> </a>
</div>