.nav-bar-container {
    z-index: 1000;
    position: absolute;
    top: 0;
    width: calc(100% - 6px);
    background: #38241B;
    height: 5.1666vw;
    display: flex;
    align-items: center;
    padding: 0 3.125vw;
    box-sizing: border-box;

    .logo {
        width: 11.328vw;
        height: 3.9648vw;
        object-fit: contain;
    }

    .menu {
        display: none;
    }

    .nav-item-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .nav-item {
            font-family: 'Noto Sans TC';
            font-size: 1.40625vw;
            line-height: 2.03125vw;
            color: #FFFFFF;
            margin-left: 2.8125vw;

            text-decoration: none;
        }

        .sign-up {
            padding: 0 4.0234vw;
            box-sizing: border-box;
            font-family: 'Noto Sans TC';
            font-style: normal;
            font-weight: bold;
            height: 3vw;
            border-radius: 3.125vw;
            background: #951205;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            color: #FFFFFF;
            font-size: 1.40625vw;
            border: none;
            margin-left: 1.171vw;


            &:hover {
                animation: zoom-effect 1.3s infinite;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
            }
        }
    }
}

.show-menu {
    width: 100%;
    background-color: #38241B;
    height: 16vh;
    position: absolute;
    top: 15.6vw;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6vw;


    a {
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: 400;
        font-size: 4.8vw;
        line-height: 6.9333vw;
        color: #FFFFFF;
        text-decoration: none;
    }

}

@keyframes zoom-effect {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}


// Tablet
@media screen and (min-width: 768px) and (max-width: 1279px) {
    .nav-bar-container {
        height: 8.06vw;

        .logo {
            height: 4.55vw;
            width: auto;
        }

        .nav-item-container {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .nav-item {
                font-family: 'Noto Sans TC';
                font-size: 2vw;
                line-height: 3vw;
                color: #FFFFFF;
                margin-left: 2.8125vw;

                text-decoration: none;
            }

            .sign-up {
                padding: 0 4.0234vw;
                box-sizing: border-box;
                font-family: 'Noto Sans TC';
                font-style: normal;
                font-weight: bold;
                height: 4vw;
                border-radius: 3.125vw;
                background: #951205;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                color: #FFFFFF;
                font-size: 1.90625vw;
                border: none;
                margin-left: 1.171vw;
            }
        }

    }
}

// Phone
@media screen and (max-width:767px) {
    .nav-bar-container {
        height: 15.6vw;

        .logo {
            display: none;
        }

        .menu {
            display: block;
            width: 6vw;
            height: 6vw;
        }

        .nav-item-container {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .nav-item {
                display: none;
            }

            .sign-up {
                padding: 0 8.0234vw;
                box-sizing: border-box;
                font-family: 'Noto Sans TC';
                font-style: normal;
                font-weight: bold;
                height: 9vw;
                border-radius: 6vw;
                background: #951205;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                color: #FFFFFF;
                font-size: 1.90625vw;
                border: none;
                margin-left: 1.171vw;
            }
        }

    }
}